*{
    margin: 0;
    padding: 0;
}
body{
font-family: 'Arima', cursive;
font-family: 'Gentium Book Plus', serif;
font-family: 'Gideon Roman', cursive;
font-family: 'Poppins', sans-serif;
background-color: #FFFFFF;
}
/* -----------header part---------- */

.header-container{
    width: 950px;
    height: 440px;
    background-color: #002D13;
    margin-top: 25px;
    margin-left: 70px;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;

}
.header-div-1{
    color: #FFC700;
    text-transform: capitalize;
    margin-left: 10px;
    margin-top: 50px;
    padding: 15px;
}
h1{
    font-size: 35px;
}
.now{
    margin-left: 75px;
}
.header-p{
    font-size: small;
    color: #9f9393;
    margin-top: 10px;
    margin-bottom: 10px;
}
.header-button{
    font-size: 25px;
    padding: 5px;
    background-color: #FFC700;
    border-radius: 50px;
    margin-top: 25px;
    transition: all 2s;
}
.header-button:hover{
   background-image: linear-gradient(to right,#39973D,#00F700 );
    color:#FFFFFF; 
    padding: 10px;
}
.header-div-2, img{
    margin-top: 20px;
    margin-left: 100px;
    padding: 15px;
}
/* ----------main section---------- */
/* ----------main-div-1-------------- */

.main-container{
    display: flex;
    justify-content: left;
}
.main-div-1{
    background-color: #002D13;
    width: 315px;
    height: 300px;
    margin-top: 100px;
    border-radius: 10px;
    margin-left: 50px;
    text-align: center;

}
a{
    text-decoration: none;
    color: #002D13;
}
.main-div-1>div:hover{
    background-color: #FFC700;
}
.match .button-match{
    font-size: 20px;
    margin-top: 30px;
    padding: 25px;
    margin-bottom: 5px;
    background-color: #FFFFFF;
    color: #002D13;
    border-radius: 10px;
    
}
.group .button-group{
    font-size: 20px;
    margin-top: 10px;
    padding: 25px 55px;
    margin-bottom: 5px;
    background-color: #FFFFFF;
    color: #002D13;
    border-radius: 10px;
}
.blog .button-blog{
    font-size: 20px;
    margin-top: 10px;
    padding: 25px 75px;
    margin-bottom: 5px;
    background-color:#FFC700;
    color:black;
    border-radius: 10px;
}

/* ------------main-div-2------------- */

.main-div-2 .div-blog, img{
    position: relative;
    top: 30px;
    right: 45px;
    width: 200px;
    
}
.transfer{
    position: relative;
    top: 20px;
    left: 80px;
    padding: 2px 5px;
}
.blog-p{
    position: relative;
    top: 20px;
    left: 80px;
    font-size:12px;
    font-weight: 700;
}
.clock, .comment{
    position: relative;
    left: 80px;
    margin-left: 3px;

}
.main-div-2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:repeat(3,1fr) ;
    column-gap: 15px;
    margin-right: 50px;
}
/* -----------------footer------------- */

footer{
    position: relative;
    top: 80px;
    width: auto;
    height: 300px;
     background-color: #002D13; 
    color: #FFFFFF;
    
}
.goal{
    text-align: center;
    position: relative;
    top: 80px;
    color:#FFFFFF 
}
hr{
    position: relative;
    top: 100px;
    left: 120px;
    width: 850px;
    border: 0.1px solid rgb(219, 196, 196);
    
}
ul{
    position: relative;
    top: 130px;
    display: flex;
}
li{
    list-style-type: none;
    margin-left: 70px;
}
.icon{
    position: relative;
    top: 160px;
    left: 440px;
}
.fa-brands{
    padding: 25px;
}

/* --------------media query------------- */


